<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to test <%= title %></p>
<<<<<<< HEAD
    <p>Daniel Ajagbonna</p>
=======
    <p>Nathan Brunner</p>
>>>>>>> eeae80ad4fcdde9035c9e64b66dcd40cbde6f426
  </body>
  <p>Diego Huesca</p>
</html>
