<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to test <%= title %></p>
    <p>Sheyla Tran</p>
    <p>Tressica Mac</p>
  </body>
  <p>Diego Huesca</p>
</html>
